// collor palette
$logoColor: rgba(68, 166, 166, 1);
$logoColor-NotA: rgba(68, 166, 166, 0);
$palette2: rgba(59, 125, 140, 1);
$palette3: rgba(31, 55, 64, 1);
$palette4: rgba(242, 205, 160, 1);
$palette5: rgba(140, 114, 104, 1);
