// collor palette
$palette1-Light: rgba(230,230,230, 1);
$palette1-Light-NotA: rgba(68, 166, 166, 0);

$palette2-Light: rgba(187,239,250, 1);
$palette3-Light: rgba(217,255,238, 1);
$palette4-Light: rgba(250,222,231, 1);
$palette5-Light: rgba(255,255,212, 1);

$palette1-Dark: rgba(102,102,102, 1);
$palette2-Dark: rgba(62,219,250, 1);
$palette3-Dark: rgba(89,255,180, 1);
$palette4-Dark: rgba(250,97,146, 1);
$palette5-Dark: rgba(255,255,84, 1);
