
/*test RWD*/
#test-RWD{
position:fixed;
bottom: 0.25rem;
right: 0.25rem;
height: 2rem;
width: 2rem;
border-radius: 1rem;
background: red;
font-family: "Calibri", sans-serif;
z-index: 1000;
}
/*breakpoints*/
/*Small*/
#test-RWD:after{
  content: "XS";
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  display: block;
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  #test-RWD{
    background: orange;
  }
  #test-RWD:after{
    content: "SM";
  }
}

@media (min-width: 768px) {
  #test-RWD{
    background: yellow;
  }
  #test-RWD:after{
    content: "MD";
  }
}
@media (min-width: 992px) {
  #test-RWD{
    background: green;
  }
  #test-RWD:after{
    content: "LG";
  }
}

@media (min-width: 1200px) {
  #test-RWD{
    background: blue;
  }
  #test-RWD:after{
    content: "XL";
  }
}
.box{
  height: 120rem;
  /* width: 33%; */
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
