@import "compass";
@import "compass/reset";
@import "_media-queries_mxn";
@import "_flexbox_mxn";
// @import "_gridCSSLayout_mxn";
@import "_hyggeLogo";
@import "_letStyles";
@import "_boxsizing";
@import "_mouseScrollAnim";
// @import "test_rwd";

//#0 GLOBAL
html{
  height: 100%;
  background: $ZmaWhite-special;
}
.wrapper{
  width: 100%;
  background: $ZmaWhite-special;
  overflow: hidden;
  a, a:hover{
    text-decoration: none;
    color:inherit;
  }
  h1, h2{
    font-size: 2.25rem;
  }
}
.cardContainer{
  position: relative;
  padding: 4rem 0 4rem 0;
  min-height: 45rem;
  background: $ZmaWhite-special;
  font-family: 'Raleway', sans-serif, 'Calibri';
  font-size: 1.5rem;
}
.bkgContainer{
  position: absolute;
  z-index: 10;
}
// FLEXBOX elements
.flexContainer{
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  padding-top: 5rem;
}
.centeredContent{
  width: 75%;
  flex-direction:column;
  align-items:center;
  text-align: center;
  line-height: 3rem;
  opacity: 1;
  z-index: 20;
  @include respond-above(xs){
  width: 70%;
  line-height: 3rem;
  font-size: 2rem;
  }

  @include respond-above(sm){
  width: 70%;
  line-height: 4rem;
  font-size: 2rem;
  }

  @include respond-above(md){
  width: 60%;
  line-height: 4rem;
  font-size: 2rem;
  }

  @include respond-above(lg){
  width: 50%;
  line-height: 4rem;
  font-size: 2rem;
  }
}
// END-FLEXBOX elements
// RWD hide/visible
.xsVisible{
  display: none;
  @include respond-below(xs){
  display: inline-flex;
  }
}
.xsHide{
  display:none;
  @include respond-above(xs){
  display: inline-flex;
  }
}
// END-RWD hide/visible
// END-GLOBAL

//#1
#jumbo{
  height: 100vh;
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  // XS
  // background-image: url("../img/jumbo/woodTableXS.jpg");
  background-image: url("../img/jumbo/whiteWood.jpg");
  // MD
  // @include respond-above(xs){
  // background-image: url("../img/jumbo/woodTableMD.jpg");
  // }
  // LG
  // @include respond-above(md){
  // background-image: url("../img/jumbo/woodTableLG.jpg");
  // }
  background-size: cover;
  & #logoContainer{

  }
  // @import: _hyggeLogo.scss
}
//#2.1
#welcome{
  // background:$ZmaWhite-special;
  color: $ZmaGreyDark;
  background-image: url("../img/bkg/flower1.jpg");
  background-size: 100% 100%;
  background-repeat: repeat-y;

  & #bkgFlower{

  }
  & #desc{

  }
}
//#2.2
#gallery{
  min-height: 45rem;
  color: $ZmaGreyDark;
  & #Mybuttons{
    @include flex-direction(row);
    // width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @include respond-above(xs){
    width: 90%;
    }
    @include respond-above(md){
    width: 80%;
    }
    @include respond-above(lg){
    width: 70%;
    }
  }
  & #photosCointainer{
    padding: 2rem 0.5rem 5rem 0.5rem;
    img{
      max-width:10rem;
      @include respond-above(xs){
      max-width:12rem;
      }
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
}
//#2.3
#productInfo{
  min-height: 30rem;
  background-image: url("../img/bkg/flower1.jpg");
  background-size: 100% 100%;
  background-repeat: repeat-y;
  color: $ZmaGreyDark;
  & #bkgWash{
    width: 24rem;
    height: 24rem;
    opacity: 0.05;
    background-image: url("../icons/rinse.svg");
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 30;
  }
  & #wash{


  }
}
//#2.4
#fbLink{
  color: $ZmaTurquoise;
  font-size: 1.5rem;
  i{padding: 0.25rem;}
  @include respond-above(xs){
  font-size: 2rem;
  }
}
#contact{
  min-height: 45rem;
  color: $ZmaGreyDark;
  overflow: hidden;
  & #bkgSplash{
    top: 6rem;
    width: 45rem;
    height: 45rem;
    background-image: url("../img/bkg/paint.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  & #information{
    position: absolute;
    top: 19rem;
    font-weight: 900;
    a, address{font-size: 1.5rem;}
    a{color: $ZmaTurquoise;}
  }
}
