@import "compass";
@import "compass/reset";
@import "_media-queries_mxn";
@import "_flexbox_mxn";
// @import "_gridCSSLayout_mxn";
@import "_hyggeLogo";
@import "_letStyles";
@import "_boxsizing";
@import "_mouseScrollAnim";
@import "test_rwd";
// #0
html{
  height: 100%;
}
.wrapper{
  width: 100%;
  a, a:hover{
    text-decoration: none;
    color:inherit;
  }

}
//#1
#jumbo{
  height: 100vh;
  @include flexbox();
  flex-direction:column;
  justify-content: center;
  align-items: center;
  // XS
  // background-image: url("../img/jumbo/woodTableXS.jpg");
  background-image: url("../img/jumbo/whiteWood.jpg");
  // MD
  // @include respond-above(xs){
  // background-image: url("../img/jumbo/woodTableMD.jpg");
  // }
  // LG
  // @include respond-above(md){
  // background-image: url("../img/jumbo/woodTableLG.jpg");
  // }
  background-size: cover;

  & #logoContainer{
     align-self: center

  }
  // PART: _hyggeLogo.scss
}
//#2
.cardContainer{
  position: relative;
  @include flexbox();
  justify-content: center;
  align-items: center;
  min-height: 45rem;
  font-family: 'Raleway', sans-serif, 'Calibri';
  font-size: 2rem;


}
.bkg{
  position: absolute;
  top: 4rem;
  width: 40rem;
  height: 40rem;
  z-index: 10;
}
.centeredContent{
  width: 90%;
  flex-direction:column;
  align-items:center;
  text-align: center;
  line-height: 3rem;
  z-index: 20;
  @include respond-above(xs){
  width: 70%;
  line-height: 3rem;
  }

  @include respond-above(sm){
  width: 70%;
  line-height: 4rem;
  }

  @include respond-above(md){
  width: 60%;
  line-height: 4rem;
  }

  @include respond-above(lg){
  width: 50%;
  line-height: 5rem;
  }
}
//#2.1
#welcome{
  background:$ZmaTurquoise;
  color: $ZmaWhite-special;
  & #desc{

  }
}
//#2.2
#gallery{
  @include flexbox();
  justify-content: center;
  align-items: center;
  background: $ZmaMint;
  color: $ZmaGreyDark;
  & #Myaccordion{
    width: 30%;
    flex-direction:column;
    align-items:center;
    text-align: center;
    // temporary inactive link
    a{
      color: grey;
      pointer-events: none;
      cursor: default;
    }
  }
  & #photos{
    width: 70%;
    flex-direction:column;
    align-items:center;
    text-align: center;
    img{

    }
  }

}
//#2.3
#productInfo{
  background: $ZmaGreyDark;
  color: $ZmaGreyLight;

  & #wash{

  }
}
//#2.4
#contact{
  background: $ZmaGreyLight;
  color: $ZmaGreyDark;
  #splash{
    background-image: url("../icons/splash.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    // outline: 2px green solid;
  }
  & #information{


  }

}
