html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

#logoZMA {
  width: 26rem;
  height: 26rem;
}

@media (min-width: 768px) {
  #logoZMA {
    width: 26rem;
    height: 26rem;
  }
}

@media (min-width: 1200px) {
  #logoZMA {
    width: 26rem;
    height: 26rem;
  }
}

#logoZMA .letterAnim {
  fill: #2f8e95;
  stroke: #2f8e95;
  stroke-dasharray: 1800;
  opacity: 1;
  -webkit-animation-name: step;
  -moz-animation-name: step;
  -ms-animation-name: step;
  -o-animation-name: step;
  animation-name: step;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0, 0.23, 1, 0.1);
  -moz-animation-timing-function: cubic-bezier(0, 0.23, 1, 0.1);
  -ms-animation-timing-function: cubic-bezier(0, 0.23, 1, 0.1);
  -o-animation-timing-function: cubic-bezier(0, 0.23, 1, 0.1);
  animation-timing-function: cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes step {
  0% {
    fill: none;
    stroke-dashoffset: 1800;
    opacity: 0;
  }
  30% {
    fill: none;
    stroke-dashoffset: 1800;
    opacity: 1;
  }
  90% {
    fill: rgba(47, 142, 149, 0);
  }
  100% {
    fill: #2f8e95;
    stroke-dashoffset: 0;
  }
}

#logoZMA .letterAppear {
  fill: #000;
  stroke: #000;
  opacity: 1;
  -webkit-animation-name: stepAppear;
  -moz-animation-name: stepAppear;
  -ms-animation-name: stepAppear;
  -o-animation-name: stepAppear;
  animation-name: stepAppear;
  -webkit-animation-duration: 3.8s;
  -moz-animation-duration: 3.8s;
  -ms-animation-duration: 3.8s;
  -o-animation-duration: 3.8s;
  animation-duration: 3.8s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@keyframes stepAppear {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

#logoZMA #logoBorder {
  fill: none;
  stroke: #000;
  stroke-width: 10;
  opacity: 1;
  -webkit-animation-name: stepAppear;
  -moz-animation-name: stepAppear;
  -ms-animation-name: stepAppear;
  -o-animation-name: stepAppear;
  animation-name: stepAppear;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*test RWD*/
#test-RWD {
  position: fixed;
  bottom: 0.25rem;
  right: 0.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  background: red;
  font-family: "Calibri", sans-serif;
  z-index: 1000;
}

/*breakpoints*/
/*Small*/
#test-RWD:after {
  content: "XS";
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  display: block;
  color: white;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  #test-RWD {
    background: orange;
  }
  #test-RWD:after {
    content: "SM";
  }
}

@media (min-width: 768px) {
  #test-RWD {
    background: yellow;
  }
  #test-RWD:after {
    content: "MD";
  }
}

@media (min-width: 992px) {
  #test-RWD {
    background: green;
  }
  #test-RWD:after {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  #test-RWD {
    background: blue;
  }
  #test-RWD:after {
    content: "XL";
  }
}

.box {
  height: 120rem;
  /* width: 33%; */
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

html {
  height: 100%;
}

#jumbo {
  display: flex;
  height: 120vh;
  justify-content: center;
  align-items: center;
  background-image: url("../img/woodTableXS.jpg");
  background-size: cover;
}

@media (min-width: 992px) {
  #jumbo {
    background-image: url("../img/woodTableMD.jpg");
  }
}

@media (min-width: 1200px) {
  #jumbo {
    background-image: url("../img/woodTableLG.jpg");
  }
}

#jumbo #logoContainer {
  flex-direction: column;
  padding-bottom: 6rem;
}

.cardContainer {
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif, 'Calibri';
  font-size: 2rem;
  font-weight: bold;
}

.centeredContent {
  width: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#welcome {
  background: #2f8e95;
}

#gallery {
  background: pink;
}

#productInfo {
  background: lightblue;
}

#contact {
  background: grey;
}
